@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background: #f3f3f3;
  margin: 0;
  font-family: KoHo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@-moz-keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}
@media (max-width: 1000px) {
  .wrapper {
    margin-left: 200px;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    margin-left: 25%;
  }
}
 /*
 grey - #959595
 cream - #e2e0d4
soft-grey - #e8e8e8
pure pink - #e7cac2
off-pink -  #e6d2d2
*/
.sideBar{
  position: fixed;
  width: 20%;
  background: #e8e8e8;
  overflow-y: auto;
  height: 100%;
  max-width: 400px;
  box-shadow: 1px 0px 6px #959595;
  min-width: 200px;
}
.sideBarElement{
  cursor: pointer;
  height: 130px;
  line-height: 130px;
  font-size: 25px;
  transition: .2s ease-out;
  border-bottom: 1px solid darkgray;
}
.sideBarElement:last-of-type{
  border-bottom: 0px;
}
.sideBarElement:hover{
  background: #C8C8C8;
  font-size: 30px;
  height: 150px;
  line-height: 150px;
}
.option{
  margin-top: 50px;
  display: inline-block;
  background: #e6d2d2;
  padding: 20px;
  width: 120px;
  letter-spacing: 1.1px;
  font-size: 25px;
  cursor: pointer;
  transition: .3s;
}
.option:hover{
  background: #e7cac2;
  box-shadow: 3px 0px 5px darkgray;
}
.option:first-child:hover{
  box-shadow: -5px 0px 5px gray;
}
.option:first-child{
  border-right:1px solid #eeeeee;
}

.textfield,#selectCollection,input[type="time"] {
  margin-top: 50px;
  width: 60%;
  border: 0;
  background: transparent;
  font-size: 23px;
  outline: none;
  border-bottom: 2px solid #959595;
  padding:5px;
  color: #959595;
  letter-spacing: 1.1px;
  transition: 0.8s;
}
#selectCollection{
  cursor: pointer;
}
.textfield::placeholder,.textfield::-webkit-input-placeholder{
  color: #959595;
}
.textfield:focus{
  font-size: 25px;
  border-bottom: 2px solid #e7cac2;
}
#addComment{
  font-size: 20px !important;
}
.task_list{
  font-size: 20px;
  text-align: left;
  list-style: none;
  display: inline-block;
  width: 60%;
  padding: 0;
}
.task_li{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid gray;
  transition: .3s ease-in;
  cursor: pointer;
}
.task_li:hover{
  border-radius: 15px;
  background: #d3dec5;
}
.removing{
    -webkit-animation: fadeOut 200ms;
    -moz-animation: fadeOut 200ms;
    animation: fadeOut 200ms;
}
.noteCard{
  margin-top: 30px;
  margin-left: 20px;
  padding: 10px;
  display: inline-block;
  border: 2px solid skyblue;
  width: auto;
  font-size: 25px;
  max-width: 300px;
  transition: .3s linear;
  cursor: pointer;
}
.yearsAgo,.eventsToday>span{
  font-size: 40px;
  border: 0;
}
.noteCard:hover{
  background: #f5f5f5;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 2px  gray;
}
.addNoteButton,.submitNoteButton,.addCommentButton,.changeJournalPage,.addBookButton,.addCollectionButton,.backCalendar{
  margin-top: 20px;
  background: transparent;
  border: 1px solid gray;
  color: #4e4e4e;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
}
.changeJournalPage{
  width: auto;
}
.addBookButton:hover,.addCollectionButton:hover{
  box-shadow: 0px 0px 6px #959595;
  font-size: 22px;
}
.submitNoteButton,.saveEntry,.addBookButton,.addCollectionButton{
  width: auto;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: .3s ease-out;
}
.addCommentButton{
  border: 0;
  cursor: pointer;
  transition: .3s;
  font-size: 30px;
  position: relative;
  top: 5px !important;
}
.addCommentButton:hover{
  font-size: 35px;
}
.journalTextArea{
  outline: none;
  width: 90%;
  margin: 10px;
  padding: 15px;
  border: 0;
  color: #585858;
  letter-spacing: 2px;
  font-size: 25px;
  background: #d8d8d8;
  height: 600px;
}
.saveEntry{
  font-size: 25px;
}
.journalEntry{
  cursor: pointer;
  width: 90%;
  margin-top: 30px;
  transition: .3s ease-out;
  font-size: 25px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}
.journalEntry:hover{
  background: #f8f8f8;
  border-radius: 20px;
  font-size: 28px;
}
.entryRead{
  margin-top: 30px;
  text-align: left;
  width: 90%;
  font-size: 25px;
  overflow-y:auto;
  padding: 15px;
  border: 1px solid black;
}
a{
  color: #555;
  text-decoration: none;
}
.noComment{
  font-size: 30px;
}
.book{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  margin: 20px;
  max-width: 40%;
  display: inline-block;
  transition: .3s ease-out;
}
.book:hover{
  box-shadow: 1px 0px 6px #959595;
}
.shelves{
  width: 90%;
  height: 90%;
  margin: 20px;
  overflow-y: auto;
}
.collection{
  cursor: pointer;
  width: 21%;
  height: 100px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid gray;
  display: inline-flex;
  word-break: break-word;
}
.pinkHover:hover{
  background: #Ede;
}
.blueHover:hover{
  background: #dee;
}
.yellowHover:hover{
  background: #Eed;
}
.collectionNames{
  font-size: 17px;
}
.newColBookButton{
  margin: 20px;
}
.collectionBooks{
  border: 1px solid gray;
  display: inline-block;
  padding: 35px;
  transition: 0.4s ease-in;
  cursor: pointer;
  border-radius: 60% 43%;
  font-size: 25px;
  margin: 30px;
}
.collectionBooks:hover{
  border-radius: 43% 60%;
  box-shadow: 1px 0px 6px #959595;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.monthName,.arrows,.year{
  margin: 30px;
  font-size: 60px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.4s;
}
.year{
  font-size: 40px;
}
.arrows:hover{
  color: #555;
}
.passwordWrap{
  display: inline-block;
}
.calendarDay{
  font-size: 20px;
  overflow-y: auto;
  height: 200px;
  margin: 5px;
  border: 1px solid gray;
  width: 50px;
  display: inline-table;
  cursor: pointer;
  text-align: left;
}
.calendarActivities{
  padding: 10px;
  margin-left: 10px;
  font-size: 19px;
  padding-left: 20px;
}
.calendarActivities>li::marker{
  color: red;
  padding-left: 10px;
}
.calendarDay>.dayClick{
  display: inline-block;
  font-size: 17px;
  padding: 5px 90px 0px 8px;
  width: 100%;
}
.dayCellHead{
  display: flex;
  justify-content: space-between;
}
.addReminder{
  width: 400px;
  height: 400px;
  background: red;
  position: absolute;
  top: 208px;
  left: 45%;
}
.addTask{
  margin-left: 10px;
  font-size: 23px;
  color: #888;
  cursor: pointer;
}
.memories,.eventsToday{
  box-shadow: 0px 0px 10px gray;
  text-align: left;
  padding: 10px;
  margin-top: 50px;
  margin-right: 10%;
  background: #f9f9f9;
}
.memoryList{
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  letter-spacing: 1.3px;
}
input[type="time"]::-webkit-calendar-picker-indicator  {
  color: darkgray;
  cursor: pointer;
}
#eventDate{
  margin-bottom: 20px;
}
.eventsTodayList{
  font-size: 23px;
}
